.banner {
  margin: var(--spacing) 0;
  position: relative;
  // overflow: hidden;

  .container {
    border-radius: var(--border-radius);
    background: var(--primary-color);
    color: var(--white);
    padding: var(--spacing-2x);

    span {
      margin-bottom: var(--spacing);
      color: var(--light-gray);
    }
    h2 {
      color: white;
      text-transform: capitalize;
      

      position: relative;

      svg {
        position: absolute;
        left: 150px;
        top: 0;

        path {
          fill: var(--white);
        }
      }
    }
  }

  .dot1,
  .dot2 {
    width: auto;
    height: 100px;
    position: absolute;
    bottom: 0;
  }

  .dot1 {
    right: 10%;
  }
  .dot2 {
    right: calc(10% + 357px);
  }

  // .building {
  //   width: 387px;
  //   height: 253px;
  //   position: absolute;
  //   bottom: 0;
  //   right: 10%;

  //   @media screen and (max-width: 768px) {
  //     display: none;
  //   }
  // }
}

.user-search {
  padding-block: var(--spacing);
  .container {
    max-width: 750px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 8fr 1.3fr;
    border: var(--border);
    border-radius: var(--border-radius-r);
    overflow: hidden;
    background-color: var(--light-gray);

    input {
      border-top-left-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
      padding: var(--spacing);
      border: none;
    }

    .search-icon {
      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
      display: grid;
      place-content: center;
      cursor: pointer;
    }
  }
}

.property-listings {
  margin: var(--spacing) 0 var(--spacing-3x);
  /*.container {
    // max-height: 100vh;
   // overflow-y: scroll;
  }*/
  .properties {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: calc(1.5 * var(--spacing));
  }
}

@media screen and (max-width: 1200px) {
  .property-listings {
    .properties {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media screen and (max-width: 768px) {
  .banner {
    .container {
      padding: var(--spacing) var(--spacing-2x);
    }
  }
  .user-search {
    .container {
      grid-template-columns: 9fr 1.5fr;
      .search-icon { 
        display: grid;
        place-content: center;
        svg {
          width: 18px;
          height: 18px;
        }
      }
    }
  }

  .property-listings {
    .properties {
      grid-template-columns: 1fr 1fr;
    }
  }
}
@media screen and (max-width: 280px) {
  .property-listings {
    .properties {
      grid-template-columns: 1fr;
      gap: var(--spacing-2x);
    }
  }
}
