.dashboard {
  margin-bottom: var(--spacing-3x);

  .container {
    max-width: 1200px;
    padding: var(--spacing-2x);

    @media screen and (max-width: 768px) {
      padding: 0;
      .student-dashboard,
      .agent-dashboard {
        .bookmarked-properties {
          ul {
            grid-template-columns: 1fr 1fr;
          }
        }

        .listed-properties {
          .property-list {
            ul {
              grid-template-columns: repeat(2, 1fr);
            }
          }
        }
      }
    }
    .welcome {
      padding: var(--spacing-2x);
      margin-top: var(--spacing-2x);
      text-align: center;
      border-radius: var(--border-radius);
      box-shadow: var(--shadow);

      img {
        width: 90px;
        height: 90px;
        border-radius: 100%;
        object-fit: cover;
        margin-inline: auto;
        margin-bottom: var(--spacing);
      }
    }

    .student-dashboard,
    .agent-dashboard {
      margin-block: var(--spacing-2x);

      h5 {
        margin-bottom: var(--spacing);
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          text-decoration: underline;
          font-size: var(--font-size-sm);
          color: var(--primary-color);
        }
      }

      & > div {
        margin-block: var(--spacing-5x);
      }

      .bookmarked-properties {
        ul {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: var(--spacing);
          li {
            // background: var(--light-gray);
            border-radius: var(--border-radius);
            border: var(--border-hover);
            border-color: transparent;
            overflow: hidden;
            cursor: pointer;

            a {
              display: grid;
              grid-template-columns: auto 1fr;
              padding: var(--spacing-h);
              gap: var(--spacing);
              align-items: center;
              width: 100%;
              color: var(--text-color-h);

              &:hover {
                background-color: var(--light-gray);
                box-shadow: var(--shadow);
              }

              img {
                width: 55px;
                height: 55px;
                // aspect-ratio: 1/1;
                border-radius: var(--border-radius);
                object-fit: cover;
              }

              div {
                padding-inline: var(--spacing);
                span,
                p {
                  color: var(--text-color-h);
                  display: block;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  line-clamp: 1;
                  -webkit-line-clamp: 1;
                  -webkit-box-orient: vertical;
                }
                span {
                  color: var(--text-color-p);
                  font-size: var(--font-size-sm);
                  margin-top: var(--spacing-h);
                }
              }
            }
          }
        }
      }

      .viewed-properties {
        .display-viewed-properties {
          display: flex;
          flex-wrap: nowrap;
          gap: var(--spacing);
          overflow-x: scroll;
          align-items: center;
          text-align: center;

          img {
            width: 90px;
            height: 90px;
            border-radius: 100%;
            object-fit: cover;
          }
          span {
            display: block;
            text-transform: capitalize;
          }
        }
      }

      .agent-matrics,
      .student-matrics {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--spacing-h);
        margin-top: var(--spacing-2x);

        .matric {
          background-color: var(--light-gray);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding-block: var(--spacing-2x);
          border-radius: var(--border-radius);
          text-align: center;
        }
      }

      .listed-properties {
        .property-list {
          ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: var(--spacing-2x);
            li {
              display: grid;
              grid-template-columns: auto 2.5rem;
              background-color: var(--light-gray);
              border-radius: var(--border-radius);
              position: relative;
              a {
                display: grid;
                grid-template-columns: 1.3fr 2fr;

                img {
                  width: 100px;
                  aspect-ratio: 1/1;
                  height: 100px;
                  object-fit: cover;
                  border-radius: var(--border-radius);
                  border-top-right-radius: 0;
                  border-bottom-right-radius: 0;
                }

                .detail {
                  padding-block: var(--spacing-h);
                  span {
                    &::first-child {
                      overflow: hidden;
                      text-overflow: ellipsis;
                      display: -webkit-box;
                      line-clamp: 2;
                      -webkit-line-clamp: 2;
                      -webkit-box-orient: vertical;
                    }
                    display: block;
                    margin-bottom: var(--spacing-h);
                  }
                }
              }

              .option-btn {
                padding: var(--spacing-h);
                cursor: pointer;
              }

              .options {
                box-shadow: var(--shadow);
                background-color: var(--white);
                border-radius: var(--border-radius);
                border: var(--border);
                overflow: hidden;
                position: absolute;
                bottom: 105%;
                right: 0;

                .option-btn {
                  width: 100%;
                  border: none;
                  background-color: var(--white);
                  display: block;
                  padding: var(--spacing-b);
                  text-align: center;
                  text-transform: capitalize;
                  color: var(--text-color-p);
                  font-size: var(--font-size-sm);
                  cursor: pointer;

                  &:hover {
                    background-color: var(--light-gray);
                    color: var(--text-color-h);
                  }
                }
              }
            }
          }
        }
      }

      .student-reviews {
        ul {
          li {
            margin-bottom: var(--spacing);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .dashboard {
    .container {
      padding: 0;
      .student-dashboard,
      .agent-dashboard {
        .bookmarked-properties {
          ul {
            grid-template-columns: 1fr 1fr;
          }
        }

        .listed-properties {
          .property-list {
            ul {
              grid-template-columns: repeat(2, 1fr);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .dashboard {
    .container {
      .student-dashboard,
      .agent-dashboard {
        .bookmarked-properties {
          ul {
            grid-template-columns: 1fr;
            // li {
            //   a {
            //     img {
            //       // aspect-ratio: 1/1;
            //     }
            //   }
            // }
          }
        }

        .listed-properties {
          .property-list {
            ul {
              grid-template-columns: 1fr;
            }
          }
        }
      }
    }
  }
}
