.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;

  .review-modal {
    background: var(--background-white);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    width: 90%;
    max-width: 420px;
    padding: var(--spacing);
    animation: fadeIn 0.25s ease-in-out;
    z-index: 1;

    .modal-top {
      display: flex;
      justify-content: space-between;

      svg {
        cursor: pointer;
      }
    }

    .modal-body {
      margin-block: var(--spacing-2x);

      .rating {
        display: flex;
        gap: var(--spacing-h);
        margin-bottom: var(--spacing);

        .rate {
          border-radius: 100%;
          width: 40px;
          height: 40px;
          background-color: var(--light-gray);
          display: grid;
          place-items: center;
          color: var(--text-color-p);
          margin-left: var(--spacing);
        }
      }
      textarea {
        width: 100%;
        min-height: 150px;
        max-height: 150px;
        resize: none;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
