.nav-menu {
  background-color: var(--white);
  box-shadow: var(--shadow);
  overflow-y: scroll;
  padding: var(--spacing-h);

  .container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    justify-content: space-between;
    height: 100%;
    padding-bottom: var(--spacing);
  }

  &.notlogged {
    display: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .top {
    .nav-header {
      .close-div {
        margin-bottom: var(--spacing);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: var(--border);
        padding-block: var(--spacing);

        .logo {
          a {
            cursor: pointer;

            img {
              width: 40px;
              height: 40px;
            }
          }
        }

        .close {
          cursor: pointer;
          width: 40px;
          height: 40px;
          border-radius: 100%;
          display: grid;
          place-content: center;
          background-color: var(--light-gray);
        }

        @media screen and (min-width: 768px) {
          display: none;
        }
      }
      .nav-btns {
        display: flex;
        flex-direction: column;

        border-radius: var(--border-radius);
        overflow: hidden;
        margin-bottom: var(--spacing-2x);

        .btn {
          display: block;
          text-align: center;
          color: white;
          width: 100%;
          border-radius: 0;

          &:first-child {
            border-bottom: var(--border);
            border-color: var(--light-gray);
          }
        }
      }
    }
    
    ul {
      overflow: scroll;
      border-radius: var(--border-radius);
      // border: var(--border);
      border-radius: var(--border-radius);
      overflow: hidden;

      display: flex;
      flex-direction: column;
      gap: 3px;

      margin-top: var(--spacing-4x);

      &::-webkit-scrollbar {
        display: none;
      }

      li {
        background-color: var(--light-gray);
        cursor: pointer;
        &:not(.btn):hover,
        &:not(.btn).active {
          background-color: var(--gray);
          color: var(--black);
        }

        a {
          padding: var(--spacing-b);
          text-transform: capitalize;
          color: var(--font-color-h);
          width: 100%;

          display: flex;
          align-items: center;
          gap: var(--spacing);

          font-size: var(--font-size-sm);

          svg {
            width: 24px;
            stroke-width: 1.3;
            path{
              fill: none;
            }
          }
        }
      }
    }
  }
  .logout {
    text-align: center;
    span {
      font-size: var(--font-size-xs);
      line-height: 1;
      .btn {
        width: 100%;
        text-decoration: underline;
        text-align: center;
        margin-top: var(--spacing);
        font-size: var(--font-size-sm);
        color: var(--primary-color);

        svg {
          path {
            fill: var(--primary-color);
          }
        }

        &:hover {
          color: var(--white);

          svg {
            path {
              fill: var(--white);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .nav-menu {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 90%;
    height: 100%;
    transition: var(--transition);
    z-index: 99999;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(5px);
      z-index: -1;
    }

    &.notlogged {
      display: flex;
    }

    &.fadeOut {
      right: -100%;
    }
    &.fadeIn {
      right: 0;
    }
    ul {
      li {
        a {
          padding: var(--spacing);
          font-size: var(--font-size-nm);
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .nav-menu {
    width: 100%;
  }
}
