.nav-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background: var(--light-gray);
  padding: var(--spacing);
  box-shadow: var(--shadow);
  overflow-y: scroll;
  z-index: 9999;

  // &::-webkit-scrollbar {
  //   width: 0;
  // }

  

  .nav-header{
    margin-bottom: var(--spacing-2x);
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .close-div {
    margin-bottom: var(--spacing-2x);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing);
    border: var(--border);
    border-radius: var(--border-radius);

    .logo {
      a {
        cursor: pointer;

        img {
          width: 24px;
          height: 24px;
        }
      }
    }

    .close {
      cursor: pointer;
      width: 35px;
      height: 35px;
      border-radius: 100%;
      display: grid;
      place-content: center;
      background-color: var(--light-gray);

      svg {
        width: 24px;
        height: 24px;
      }
    }

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  ul {
    max-height: 80vh;
    overflow: scroll;
    padding-top: var(--spacing-2x);

    &::-webkit-scrollbar {
      width: 0;
    }

    li {
      margin-bottom: var(--spacing-h);
      border-radius: var(--border-radius);
      &:not(.btn):hover,
      &:not(.btn).active {
        background: var(--background-white);
        box-shadow: var(--shadow) ;
      }

      &.btn {
        a {
          width: 100%;
          text-align: center;
          color: var(--white);
        }
      }

      
      a {
        padding: var(--spacing);
        text-transform: capitalize;
        color: var(--font-color-p);
        
        display: flex;
        align-items: center;
        gap: var(--spacing);

        font-size: var(--font-size-md);
        
        svg {
          width: 24px;
          height: 24px;
          stroke: var(--font-color-p);
          stroke-width: 1.5px;


         
        }
      }

      
    }
  }

  .logout {
    line-height: var(--line-height-sm);
    padding: var(--spacing-2x);
    background: linear-gradient(to bottom right, #fff8f1, #ffeee9);
    border-radius: var(--border-radius);
    margin-bottom: var(--spacing);
    color: var(--primary-color);
    box-shadow: var(--shadow);

    span {
      a,
      span {
        font-size: inherit;
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .nav-menu {
    display: flex;
    &.fadeOut {
      position: fixed;
      right: -100%;
      top: 0;
      width: 100%;
      transition: var(--transition);
    }
    &.fadeIn {
      right: 0;
    }
  }
}
