/* ========== footer section open ========== */
.footer {
  background-color: var(--light-gray);
  color: var(--font-color-p);
  padding: var(--spacing-5x) 0 var(--spacing);

  .container {
    .footer-sections {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--spacing-2x);

      /* Footer Columns */
      .footer-column {
        h5 {
          margin-bottom: var(--spacing);
        }
        ul {
          li {
            margin-bottom: var(--spacing-h);

            a {
              text-transform: capitalize;
              font-size: var(--font-size-sm);
              transition: var(--transition);

              &:hover {
                color: var(--primary-color);
              }
            }
          }
        }

        .social-links {
          a {
            font-size: var(--font-size-lg);
            margin-right: var(--spacing);
            color: var(--primary-color);
            transition: color 0.3s ease;

            &:hover {
              color: var(--primary-color);
            }
          }
        }
      }
    }

    /* Footer Bottom */
    .footer-bottom {
      border-top: var(--border);
      margin: var(--spacing-2x) 0 0;
      padding: var(--spacing-2x) 0 0;

      text-align: center;
      border-top: var(--border);

      p {
        font-size: var(--font-size-xs);
        a {
          color: var(--primary-color);
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer {
  padding-top: var(--spacing-3x);
    .container {
      .footer-sections {
        grid-template-columns: 1fr;

        .footer-column {

          .social-links {
            justify-content: center;
          }
        }

        .footer-bottom {
          padding-bottom: var(--spacing);
        }
      }
    }
  }
}
/* ========== footer section close ========== */
