.admin-dashboard {
    .container{
        padding-block: var(--spacing-s);
        .dashboard-navigation{
            display: flex;
          flex-wrap: nowrap;
          overflow-x: auto;
          justify-content: left;
          scroll-behavior: smooth;
          gap: var(--spacing);
          padding-block: var(--spacing);

          /* Hide scrollbar */
          &::-webkit-scrollbar {
            display: none;
          }
          -ms-overflow-style: none;
          scrollbar-width: none;

          button{
            border: none;
            
            padding: var(--spacing-b);
            background-color: var(--light-gray);
            border-radius: var(--border-radius);
            cursor: pointer;
          }
        }
        .dashboard-content{
            padding-block: var(--spacing);
        }
    }
}
