.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.booking-modal {
  background: white;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  width: 90%;
  max-width: 420px;
  padding: calc(1.5 * var(--spacing));
  animation: fadeIn 0.25s ease-in-out;

  .modal-header {
    h4{
      margin-bottom: var(--spacing);
    }
  }

  .modal-body {
    .modal-section {
      margin-bottom: var(--spacing);

      &.fees{
        display: flex;
        gap: var(--spacing-2x);

      }

      label {
        font-size: var(--font-size-sm);
        color: var(--text-color-p);
        display: block;
        margin-bottom: var(--spacing-h);
      }

      &.total {
        // border-top: var(--border);
        padding: var(--spacing);
        background-color: var(--light-gray);
        border-radius: var(--border-radius);
        margin-block: var(--spacing);

        p {
          color: var(--text-color-h);
        }
      }
    }

    .modal-disclaimer {
      font-size: var(--font-size-xs);
    }
  }

  .modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: var(--spacing);
    margin-top: var(--spacing);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
