.back {
  .back-button {
    display: grid;
    place-items: center;
    border-radius: 100%;

    width: 35px;
    height: 35px;
    background-color: var(--light-gray);
    svg {
      width: 24px;
      height: 24px;
    }
  }
}
