.upload-property {
  padding-block: var(--spacing-s);
  .container {
    max-width: 900px;
    padding-block: var(--spacing-2x);

    form {
      margin-block: var(--spacing-3x);

      .success,
      .error {
        margin-top: var(--spacing-h);
        color: var(--primary-color);
        font-size: var(--font-size-xs);
      }

      .btn {
        display: block;
        width: 100%;
        text-align: center;
      }

      .form-group {
        margin-block: var(--spacing-2x);

        label {
          display: block;
          margin-bottom: var(--spacing-h);
        }
        input,
        select,
        textarea {
          padding: var(--spacing);
          width: 100%;
          border: var(--border);
          border-width: 2px;
          border-radius: var(--border-radius);
          background-color: var(--white);
        }

        textarea {
          resize: none;
          height: 150px;
        }
        option {
          padding: var(--spacing-h);
          background-color: var(--white);
        }
        .error {
          font-size: var(--font-size-sm);
          color: var(--primary-color);
        }
      }

      .thumbnail-preview {
        div {
          display: flex;
          gap: var(--spacing);
          padding: var(--spacing);
          background: var(--light-gray);
          border-radius: var(--border-radius);

          img{
            width: 70px;
            height: 70px;
            object-fit: cover;
            border: var(--border);
            border-radius: var(--border-radius);
            cursor: pointer;

            &.active{
                border: 2px solid green;
            }
          }
        }
      }

      .confirm-datails {
        margin-block: var(--spacing-2x);
        max-width: 600px;
        margin: 0 auto;
        p {
          text-align: center;
          font-size: var(--font-size-xs);
        }
      }
    }
  }
}
