.upload-property {
  padding-block: var(--spacing-4x);
}
.upload-property .container {
  max-width: 900px;
}
.upload-property .container form {
  margin-block: var(--spacing);
}
.upload-property .container form .success,
.upload-property .container form .error {
  margin-top: var(--spacing-h);
  color: var(--primary-color);
  font-size: var(--font-size-xs);
}
.upload-property .container form .btn {
  display: block;
  width: 100%;
  text-align: center;
}
.upload-property .container form .form-group {
  margin-block: var(--spacing-2x);
}
.upload-property .container form .form-group label {
  display: block;
  margin-bottom: var(--spacing-h);
}
.upload-property .container form .form-group label.image-upload-label {
  cursor: pointer;
}
.upload-property .container form .form-group label.image-upload-label input {
  display: none;
}
.upload-property .container form .form-group label.image-upload-label .upload-image-preview {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius);
}
.upload-property .container form .form-group .media-previews-container .media-previews-grid {
  display: flex;
  gap: var(--spacing);
  flex-wrap: nowrap;
  overflow-x: auto;
}
.upload-property .container form .form-group .media-previews-container .media-previews-grid div {
  border-radius: var(--border-radius);
  border: var(--border);
  background-color: var(--light-gray);
  width: 150px;
}
.upload-property .container form .form-group .media-previews-container .media-previews-grid div img, .upload-property .container form .form-group .media-previews-container .media-previews-grid div video {
  width: 100%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius);
}
.upload-property .container form .form-group .media-previews-container .media-previews-grid div .video-preview {
  position: relative;
}
.upload-property .container form .form-group .media-previews-container .media-previews-grid div .video-preview .video-icon {
  position: absolute;
  top: var(--spacing);
  right: var(--spacing);
}
.upload-property .container form .form-group .media-previews-container .media-previews-grid div .media-preview-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.upload-property .container form .form-group .media-previews-container .media-previews-grid div .media-preview-info .remove-media-btn {
  color: red;
}
.upload-property .container form .form-group input,
.upload-property .container form .form-group select,
.upload-property .container form .form-group textarea,
.upload-property .container form .form-group .quill-editor {
  padding: var(--spacing);
  width: 100%;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--white);
}
.upload-property .container form .form-group input div,
.upload-property .container form .form-group select div,
.upload-property .container form .form-group textarea div,
.upload-property .container form .form-group .quill-editor div {
  padding: 0;
  border: none;
}
.upload-property .container form .form-group textarea {
  resize: none;
  height: 150px;
}
.upload-property .container form .form-group option {
  padding: var(--spacing-h);
  background-color: var(--white);
}
.upload-property .container form .form-group .error {
  font-size: var(--font-size-sm);
  color: var(--primary-color);
}
.upload-property .container form .thumbnail-preview div {
  display: flex;
  gap: var(--spacing-h);
  padding: var(--spacing-h);
  background: var(--light-gray);
  border-radius: var(--border-radius);
  overflow-x: scroll;
}
.upload-property .container form .thumbnail-preview div img {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  border: var(--border);
  border-radius: var(--border-radius);
  cursor: pointer;
}
.upload-property .container form .thumbnail-preview div img.active {
  border: 2px solid green;
}
.upload-property .container form .confirm-details {
  margin-block: var(--spacing-2x);
  max-width: 600px;
  margin: 0 auto;
}
.upload-property .container form .confirm-details p {
  text-align: center;
  font-size: var(--font-size-xs);
}/*# sourceMappingURL=upload.css.map */