.quick-service{
    position: fixed;
    bottom: 15%;
    right: 10%;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: var(--light-gray);
    border: var(--border);
    box-shadow: var(--shadow);
    display: grid;
    place-content: center;
    z-index: 9999;

    i{
      font-size: var(--font-size-lg);
    }
  }