.trends-page {
  .container {
    .trends {
      display: grid;
      grid-template-columns: repeat(4, 1.5fr);
      gap: var(--spacing);
      margin-block: var(--spacing-2x);
    }
  }

  // .search-trends {
  //   border-radius: var(--border-radius-r);
  //   max-width: 750px;
  //   margin: 0 auto;
  //   display: grid;
  //   grid-template-columns: 8fr 0.8fr;
  //   overflow: hidden;
  //   box-shadow: var(--shadow-below);

  //   input {
  //     border: var(--border);
  //     border-radius: var(--border-radius-r);
  //     border-top-right-radius: 0;
  //     border-bottom-right-radius: 0;
  //     padding: var(--spacing);

  //     &:focus {
  //       border: var(--border-hover);
  //     }
  //   }

  //   .search-icon {
  //     border-top-right-radius: var(--border-radius-r);
  //     border-bottom-right-radius: var(--border-radius-r);
  //     display: grid;
  //     place-content: center;
  //     cursor: pointer;
  //     background-color: var(--light-gray);
  //     svg {
  //       width: 25px;
  //       height: 25px;
  //       path {
  //         fill: var(--font-color-h);
  //       }
  //     }
  //   }
  // }

  .trends-filter {
    background: var(--background-white);
    // margin-block: var(--spacing);
    padding-block: var(--spacing);
    position: sticky;
    top: 0;
    z-index: 9999;

    .container {
      display: flex;
      gap: var(--spacing);

      
    }
  }
}

@media screen and (max-width: 1400px) {
  .trends-page {
    .container {
      .trends {
        grid-template-columns: repeat(3, 1fr);
        gap: var(--spacing-2x);
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .trends-page {
    .container {
      .trends {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .trends-page {
    .container {
      .trends {
        grid-template-columns: 1fr;
      }
    }
    .trends-page-filter {
      .container {
        .search-trends {
          grid-template-columns: 8fr 1.5fr;

          .search-icon {
            svg {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}
