.trends-page {
  .container {
    .trends {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: var(--spacing);
      margin-block: var(--spacing-2x);
    }
  }
}

@media screen and (max-width: 1400px) {
  .trends-page {
    .container {
      .trends {
        grid-template-columns: repeat(3, 1fr);
        gap: var(--spacing-2x);
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .trends-page {
    .container {
      .trends {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .trends-page {
    .container {
      .trends {
        grid-template-columns: 1fr;
      }
    }
  }
}
