.trends-page .container .trends {
  display: grid;
  grid-template-columns: repeat(4, 1.5fr);
  gap: var(--spacing);
  margin-block: var(--spacing-2x);
}
.trends-page .trends-page-filter {
  margin-block: var(--spacing-2x);
}
.trends-page .trends-page-filter .container .search-trends {
  border-radius: var(--border-radius-r);
  max-width: 750px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 8fr 0.8fr;
  overflow: hidden;
  box-shadow: var(--shadow-below);
}
.trends-page .trends-page-filter .container .search-trends input {
  border: var(--border);
  border-radius: var(--border-radius-r);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: var(--spacing);
}
.trends-page .trends-page-filter .container .search-trends input:focus {
  border: var(--border-hover);
}
.trends-page .trends-page-filter .container .search-trends .search-icon {
  border-top-right-radius: var(--border-radius-r);
  border-bottom-right-radius: var(--border-radius-r);
  display: grid;
  place-content: center;
  cursor: pointer;
  background-color: var(--light-gray);
}
.trends-page .trends-page-filter .container .search-trends .search-icon svg {
  width: 25px;
  height: 25px;
}
.trends-page
  .trends-page-filter
  .container
  .search-trends
  .search-icon
  svg
  path {
  fill: var(--font-color-h);
}
.trends-page .trends-page-filter .container .filter-trends .categories {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: var(--spacing);
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: sticky;
  top: 0px;
}
.trends-page
  .trends-page-filter
  .container
  .filter-trends
  .categories::-webkit-scrollbar {
  display: none;
}
.trends-page
  .trends-page-filter
  .container
  .filter-trends
  .categories
  .category-trend {
  padding: var(--spacing-b);
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  text-transform: capitalize;
  background: var(--light-gray);
  white-space: nowrap;
  cursor: pointer;
  transition: var(--transition);
}
.trends-page
  .trends-page-filter
  .container
  .filter-trends
  .categories
  .category-trend:hover,
.trends-page
  .trends-page-filter
  .container
  .filter-trends
  .categories
  .category-trend:active,
.trends-page
  .trends-page-filter
  .container
  .filter-trends
  .categories
  .category-trend.active {
  border: var(--border-hover);
  color: var(--font-color-h);
}

@media screen and (max-width: 1400px) {
  .trends-page .container .trends {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-2x);
  }
}
@media screen and (max-width: 900px) {
  .trends-page .container .trends {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .trends-page .container .trends {
    grid-template-columns: 1fr;
  }
  .trends-page .trends-page-filter .container .search-trends {
    grid-template-columns: 8fr 1.5fr;
  }
  .trends-page .trends-page-filter .container .search-trends .search-icon svg {
    width: 20px;
    height: 20px;
  }
} /*# sourceMappingURL=trends.css.map */
