.trends-page {
  .container {
    .trends {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: var(--spacing);
      margin-block: var(--spacing-2x);
    }
  }
  .filter {
    margin-block: var(--spacing-2x);
    .container {
      .search-trends {
        border-radius: var(--border-radius-r);
        max-width: 750px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 8fr 0.8fr;
        overflow: hidden;
        box-shadow: var(--shadow-below);

        input {
          border: var(--border);
          border-radius: var(--border-radius-r);
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          padding: var(--spacing);

          &:focus {
            border: var(--border-hover);
          }
        }

        .search-icon {
          border-top-right-radius: var(--border-radius-r);
          border-bottom-right-radius: var(--border-radius-r);
          display: grid;
          place-content: center;
          cursor: pointer;
          background-color: var(--light-gray);
          svg {
            width: 25px;
            height: 25px;
            path {
              fill: var(--font-color-h);
            }
          }
        }
      }
      .filter-trends {
        p{
          margin-bottom: var(--spacing-h);
        }
        .categories {
          display: flex;
          align-items: center;
          justify-content: left;
          gap: var(--spacing);
          overflow-x: scroll;
          scrollbar-width: none;
          -ms-overflow-style: none;

          &::-webkit-scrollbar {
            display: none;
          }

          .category-trend {
            padding: var(--spacing);
            border-radius: var(--border-radius);
            border: var(--border);
            text-transform: capitalize;
            background: var(--background-white);
            white-space: nowrap;
            cursor: pointer;
            transition: var(--transition);

            &:hover,
            &:active,
            &.active {
              border: var(--border-hover);
              color: var(--font-color-h);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .trends-page {
    .container {
      .trends {
        grid-template-columns: repeat(3, 1fr);
        gap: var(--spacing-2x);
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .trends-page {
    .container {
      .trends {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .trends-page {
    .container {
      .trends {
        grid-template-columns: 1fr;
      }
    }
    .filter {
      .container {
        .search-trends {
          grid-template-columns: 8fr 1.5fr;

          .search-icon {
            svg {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}
