.chat-page{
    .container{
        max-width: 900px;
        
        .display{
            height: 300px;
            overflow-y: scroll;
            margin-bottom: var(--spacing-2x);
            margin-top: var(--spacing-4x);

            &::-webkit-scrollbar {
                display: none;
            }

            .message-box{
                padding: var(--spacing);
                margin-right: 0;
                margin-bottom: var(--spacing-2x);
                background-color: var(--light-gray);
                border-radius: var(--border-radius);
                border-top-left-radius: 0;
                width: 70%;

                position: relative;

                &::after{
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border: 5px solid var(--light-gray);
                    border-radius: 100%;
                    top: 0;
                    left: -10px;
                }

                

                .message-detaile{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: var(--font-color-h);
                }
                
                .message-content{
                    margin-top: var(--spacing);
                }
            }
        }

        .message-input{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--light-gray);
            border-radius: var(--border-radius);
            padding: var(--spacing);
            margin-top: var(--spacing-2x);

            input{
                width: 80%;
                padding: var(--spacing);
                border: none;
                border-radius: var(--border-radius);
                background-color: var(--light-gray);
            }

           
        }
    }
}