.upload-property{
    padding-block: var(--spacing-3x);
    .container{

        form{
            margin-block: var(--spacing-3x);


            .success,
            .error{
                margin-top: var(--spacing-h);
                color: var(--primary-color);
                font-size: var(--font-size-sm);
            }

            .btn{
                width: 100%;
                text-align: center;
            }

            .form-group{
                margin-block: var(--spacing);

                label{
                    display: block;
                    margin-bottom: var(--spacing-h);
                }
                input,select,textarea{
                    padding: var(--spacing);
                    width: 100%;
                }
                .error{
                    font-size: var(--font-size-sm);
                    color: var(--primary-color);
                }
            }
        }
    }
}