.upload-property{
    padding-block: var(--spacing-s);
    .container{

        form{
            margin-block: var(--spacing-3x);
            
            .success,
            .error{
                margin-top: var(--spacing-h);
                color: var(--primary-color);
                font-size: var(--font-size-xs);
            }

            .btn{
                width: 100%;
                text-align: center;
            }

            .form-group{
                margin-block: var(--spacing-2x);

                label{
                    display: block;
                    margin-bottom: var(--spacing-h);
                }
                input,select,textarea{
                    padding: var(--spacing);
                    width: 100%;
                    border: var(--border);
                    border-radius: var(--border-radius);
                }
                textarea{
                    resize: none;
                    height: 150px;
                }
                option{
                    padding: var(--spacing-h);
                }
                .error{
                    font-size: var(--font-size-sm);
                    color: var(--primary-color);
                }
            }
        }
    }
}