.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  padding: var(--spacing);
  box-shadow: var(--shadow);
  z-index: 999;
  transition: transform 0.3s ease, opacity 0.3s ease;

  &.show {
    transform: translateY(0);
    opacity: 1;
  }

  &.hide {
    transform: translateY(100%);
    opacity: 0;
  }

  ul {
    list-style: none;
    
    &.grid{
      display: grid;
      grid-template-columns: repeat(5,1fr);
      
    }
    
    &.flex{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--spacing-2x);
    }

    a {
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      color: var(--font-color-h);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: var(--spacing-h);

      span {
        font-size: var(--font-size-xs);
      color: var(--font-color-h);
        font-weight: 600;
        text-transform: capitalize;
      }
      
      &.active {
        svg path {
          fill: var(--primary-color);
        }
        span {
          color: var(--primary-color);
        }
      }

    }
  }
}

@media screen and (min-width: 769px) {
  .navigation {
    display: none;
  }
}

// @media screen and (max-width: 450px) {
//  .navigation {
//   padding: var(--spacing);

//   ul {
//     a {
//       svg{
//         height: 24px;
//         width: 24px;
//       }
//       // span{
//       //   display: none;
//       // }
//     }
//   }

// }
// }
