.trend-card {
  border-radius: var(--border-radius);
  border: var(--border);
  overflow: hidden;
  transition: var(--transition);

  animation: pop .1s ease-in forwards;

  @keyframes pop {
    from {
      transform: translateY(10px) scale(0.97);
      opacity: 0;
    }
    to {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
  }

  &:hover{
    box-shadow: var(--shadow);
  }

  .trend-image {
     aspect-ratio: 20 / 17;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .category {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: var(--light-gray);
      padding: var(--spacing-h) var(--spacing);
      border-radius: var(--border-radius-r);
      color: var(--text-color-h);
    }
  }
  .trend-content {
    padding: var(--spacing);

    .author-thumbs {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: var(--spacing);
      // padding-block: var(--spacing-h);

      .thumbs {
        display: flex;
        align-items: center;
        gap: var(--spacing);
        svg {
          cursor: pointer;
          transition: var(--transition);

          &:hover,
          &.active {
            color: var(--primary-color);
            transform: scale(1.2);
          }
        }
      }
    }

    h6 {
      margin-top: var(--spacing);
    }
    h6,
    P {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    p {
      font-size: var(--font-size-sm);
    }
  }
}
