/* app/not-found.scss */
.not-found-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-2x);
  flex-direction: column;
  height: 100vh;
  background: #f9f9f9;

  .not-found-image {
    img{
      width: 100%;
    max-width: 400px;
    height: auto;
    }
  }

  .not-found-content {
    text-align: center;
    padding: var(--spacing-2x);

    h1 {
      font-size: var(--spacing-3x);
      margin-bottom: var(--spacing);
      color: var(--primary-color);
    }

    p {
      margin-bottom: var(--spacing-2x);
    }
  }
}
