.profile-page {
  margin-bottom: var(--spacing-3x);
  .container {
    max-width: 700px;
    .profile-overview {
      box-shadow: var(--shadow);
      margin-top: var(--spacing);
      padding: var(--spacing-2x);
      .dt {
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-2x);

        .img {
          display: grid;
          place-content: center;
          img {
            width: 200px;
            height: 200px;
            border-radius: 100%;
            object-fit: cover;
          }
        }
        .tdt {
          padding: var(--spacing);
          &>span {
            display: block;
            align-items: center;
            margin-bottom: var(--spacing-h);

            span,.not-verified {
              color: var(--error);
              margin-left: var(--spacing-h);
              font-size: var(--font-size-xs);
              line-height: var(--line-height-md);
            }

          }
        }
      }
    }

    .cp {
      margin-top: var(--spacing-2x);
    }
  }
}


@media screen and (max-width: 786px) {
  .profile-page {
    .container {
      .profile-overview {
        .dt {
          flex-direction: column;

          .tdt{
            text-align: center;
            &>span{
              display: flex;
            align-items: center;
            justify-content: center;   
            gap: var(--spacing-h);
            }
          }
        }
      }
    }
  }
}
