.profile-page {
  margin-bottom: var(--spacing-3x);
  .container {
    
    
    h2{
      margin-bottom: var(--spacing-2x);
    }

    .profile-overview {
      background: var(--light-gray);
      border-radius: var(--border-radius);
      padding: var(--spacing);
      .dt {
        display: grid;
        grid-template-columns: 100px 1fr;
        gap: var(--spacing);
        align-items: center;

        .img {
          img {
            width: 100px;
            height: 100px;
            object-fit: cover;
          }
        }
        .tdt {
          span {
            display: block;
            margin-block: var(--spacing-h);
          }
        }
      }
    }

    .cp{
      margin-top: var(--spacing-2x);

    }
  }
}
