.trend-details-page {
  .container {
    padding: var(--spacing-4x) 0 var(--spacing-5x);

    @media screen and (min-width: 768px) {
      padding: var(--spacing-4x) 0 var(--spacing-8x);
      width: 75%;
    }
    .trend-details {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--spacing);
    }
    .trend-image {
      height: 280px;
      border-radius: var(--border-radius);
      overflow: hidden;
      margin-block: var(--spacing-2x);
      img {
        height: inherit;
        object-fit: cover;
      }

      @media screen and (min-width: 768px) {
        height: 400px;
      }
    }
    
  }
}
