.trend-details-page {
  .container {
    padding-block: var(--spacing-s);


    li{
      list-style-type: circle;
      margin-block: var(--spacing-h);
      margin-left: var(--spacing);
    }

    @media screen and (min-width: 768px) {
      padding-block: calc(var(--spacing-4x) * 2);
      width: 70%;

      .trend-details {
        .title {
          width: 80%;
          margin: auto 0;
        }
      }
    }
    .trend-details {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--spacing);
      text-align: center;
      margin-top: var(--spacing-3x);

      .category {
        padding: var(--spacing-h);
        border-radius: var(--border-radius);
        background-color: var(--primary-color);
        color: var(--white);
      }
    }
    .trend-image {
      height: 280px;
      border-radius: var(--border-radius);
      overflow: hidden;
      margin: var(--spacing-2x) 0;
      img {
        height: inherit;
        object-fit: cover;
      }

      @media screen and (min-width: 768px) {
        height: 400px;
      }
    }
    .interaction-buttons {
      display: flex;
      gap: var(--spacing);

      button {
        display: flex;
        align-items: center;
        gap: var(--spacing-h);
        border: none;
        padding: var(--spacing-h) var(--spacing);
        background-color: var(--light-gray);
        border-radius: var(--border-radius-r);
        color: var(--font-color-p);
        cursor: pointer;

        &.active i{
          fill: var(--font-color-h);
          font-size: var(--font-size-lg);
        }
      }
    }
    .trend-description {
      margin-block: var(--spacing-2x);
      p {
        margin-bottom: var(--spacing-h);
      }
      h2{
        font-size: var(--font-size-lg);
      }
    }

    .comments-section {
      margin-top: var(--spacing-s);
      margin-bottom: var(--spacing-2x);
      padding: var(--spacing);
      background: var(--light-gray);
      border-radius: var(--border-radius);
      max-width: 500px;
      
      .comments-list {
        margin-block: var(--spacing);
        .comment {
          padding: var(--spacing);
          background-color: var(--light-gray);
          border-radius: var(--border-radius);
          margin-block: var(--spacing);
          .top {
            display: flex;
            gap: var(--spacing);
            align-items: center;
            justify-content: space-between;
            margin-bottom: var(--spacing);
            div {
              display: flex;
              gap: var(--spacing);
              align-items: center;
              img {
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 100%;
              }
            }
            .created-at {
              font-size: var(--font-size-xs);
            }
          }
          .comment-content{
            font-size: var(--font-size-sm);
          }
        }
      }
      .send-comment{
        textarea{
          width: 100%;
          max-width: 100%;
          padding: var(--spacing);
          border: var(--border);
          border-radius: var(--border-radius);
          margin-block: var(--spacing);

        }
        .btn{
          width: 100%;
        }
      }
    }
  }
}
