.trend-details-page {
  position: relative;
}
.trend-details-page .container {
  margin-bottom: var(--spacing-3x);
}
.trend-details-page .container li {
  list-style-type: circle;
  margin-block: var(--spacing-h);
  margin-left: var(--spacing);
}
@media screen and (min-width: 1000px) {
  .trend-details-page .container {
    padding-block: var(--spacing);
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: flex-start;
    gap: var(--spacing);
    width: 95%;
    max-width: 1200px !important;
  }
}
.trend-details-page .container .trend-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing);
  text-align: center;
  margin-top: var(--spacing-5x);
}
.trend-details-page .container .trend-details h3 {
  max-width: 500px;
}
.trend-details-page .container .trend-details .category {
  padding: var(--spacing-h);
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  color: var(--white);
}
@media screen and (min-width: 1000px) {
  .trend-details-page .container .trend-details {
    margin-top: 0;
  }
}
.trend-details-page .container .trend-image {
  height: 280px;
  border-radius: var(--border-radius);
  overflow: hidden;
  margin: var(--spacing-2x) 0;
}
.trend-details-page .container .trend-image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .trend-details-page .container .trend-image {
    height: 380px;
  }
}
.trend-details-page .container .interaction-buttons {
  display: flex;
  gap: var(--spacing);
}
.trend-details-page .container .interaction-buttons button {
  display: flex;
  align-items: center;
  gap: var(--spacing-h);
  border: none;
  padding: var(--spacing-h) var(--spacing);
  background-color: var(--light-gray);
  border-radius: var(--border-radius-r);
  color: var(--font-color-p);
  cursor: pointer;
}
.trend-details-page .container .interaction-buttons button.active i {
  fill: var(--font-color-h);
  font-size: var(--font-size-lg);
}
.trend-details-page .container .trend-description {
  margin-block: var(--spacing-2x);
}
.trend-details-page .container .trend-description p {
  margin-bottom: var(--spacing-h);
}
.trend-details-page .container .trend-description h2 {
  font-size: var(--font-size-lg);
}
.trend-details-page .container .comments-section {
  margin-block: calc(2 * var(--spacing-s));
  padding: var(--spacing);
  background: var(--light-gray);
  border-radius: var(--border-radius);
  position: sticky;
  top: 0;
}
@media screen and (max-width: 1000px) {
  .trend-details-page .container .comments-section {
    position: relative;
  }
}
.trend-details-page .container .comments-section .comments-list {
  margin-bottom: var(--spacing-h);
  max-height: 260px;
  overflow: scroll;
}
.trend-details-page .container .comments-section .comments-list .comment {
  border-radius: var(--border-radius);
  margin-block: var(--spacing);
  background-color: white;
}
.trend-details-page .container .comments-section .comments-list .comment .top {
  display: flex;
  gap: var(--spacing-h);
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-h);
  border-bottom: var(--border);
  border-color: var(--gray);
}
.trend-details-page .container .comments-section .comments-list .comment .top div {
  display: flex;
  gap: var(--spacing-h);
  align-items: center;
}
.trend-details-page .container .comments-section .comments-list .comment .top div img {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}
.trend-details-page .container .comments-section .comments-list .comment .top div span {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.trend-details-page .container .comments-section .comments-list .comment .top .created-at {
  font-size: var(--font-size-xs);
}
.trend-details-page .container .comments-section .comments-list .comment .comment-content {
  padding: var(--spacing-h);
  font-size: var(--font-size-xs);
}
.trend-details-page .container .comments-section .send-comment {
  display: flex;
  gap: var(--spacing);
  justify-content: space-between;
  margin-top: var(--spacing);
}
.trend-details-page .container .comments-section .send-comment textarea {
  width: auto;
  flex: 1;
  height: 60px;
  padding: var(--spacing);
  border-radius: var(--border-radius);
  border: none;
}
.trend-details-page .container .comments-section .send-comment .btn {
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (min-width: 1000px) {
  .trend-details-page .container .comments-section {
    margin: 0;
  }
}/*# sourceMappingURL=trend.css.map */