.marketplace {
  .latest {
    margin-top: var(--spacing);
    text-align: center;
    .latest-img {
      height: 250px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    h6 {
      margin-block: var(--spacing);
    }
  }
  .filter-marketplaceitems {
    margin-block: var(--spacing-2x);
    .container {
      .search-items {
        border-radius: var(--border-radius);
        max-width: 750px;
        margin: 0 auto var(--spacing-2x);
        display: grid;
        grid-template-columns: 8fr 1.3fr;
        background-color: var(--background-white);
        border: var(--border);
        border-radius: var(--border-radius);
        overflow: hidden;

        input {
          border-top-left-radius: var(--border-radius);
          border-bottom-left-radius: var(--border-radius);
          padding: var(--spacing);
          border: none;
        }

        .search-icon {
          border-top-right-radius: var(--border-radius);
          border-bottom-right-radius: var(--border-radius);
          display: grid;
          place-content: center;
          cursor: pointer;
          background-color: var(--light-gray);
          svg {
            width: 25px;
            height: 25px;
            path {
              fill: var(--text-color-p);
            }
          }
        }
      }
      .filter-items {
        display: flex;
        align-items: center;
        justify-content: left;
        gap: var(--spacing);
        overflow-x: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        background-color: var(--light-gray);
        border-radius: var(--border-radius);
        padding: var(--spacing-h);
        position: sticky;
        top: 0px;
        z-index: 999;

        &::-webkit-scrollbar {
          display: none;
        }
        .category-item {
          padding: var(--spacing-b);
          border-radius: var(--border-radius);
          border: 1px solid transparent;
          text-transform: capitalize;
          background: var(--light-gray);
          white-space: nowrap;
          cursor: pointer;
          transition: var(--transition);

          &:hover,
          &:active,
          &.active {
            border: var(--border-hover);
            color: var(--text-color-h);
          }
        }
      }
    }
  }

  .container {
    .items {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: var(--spacing);
      margin-block: var(--spacing-2x);
    }
  }
}

// @media screen and (max-width: 768px) {
//   .marketplace {
//     .items {
//       grid-template-columns: repeat(2, 1fr);
//     }
//   }
// }

// @media screen and (max-width: 480px) {
//   .marketplace {
//     .items {
//       grid-template-columns: 1fr;
//     }
//   }
// }
