.prop-card {
  border-radius: var(--border-radius);
  overflow: hidden;
  
  a {
    outline: none;
  }
  
  .prop-image{
    position: relative;

    .actions{
      position: absolute;
      top: var(--spacing);
      right: var(--spacing);

      display: flex;
      flex-direction: column;
      gap: var(--spacing-h);
      z-index: 2;

      svg {
          cursor: pointer;
          width: 25px;
          height: 25px;
        }
    }
  }
  .swiper {
    height: 290px;
    border-radius: var(--border-radius);
    overflow: hidden;
    width: 100%;
    position: relative;
    box-shadow: var(--shadow);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .swiper-pagination-bullet {
      background-color: var(--white);
      opacity: 0.6;
    }
    .swiper-pagination-bullet-active {
      opacity: 1;
    }
  }
  .card-details {
    padding: var(--spacing) 0;
    .type-price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: var(--spacing);

      .price {
        color: var(--font-color-h);
        font-weight: 600;
      }
    }

    .brief {
      margin-block: var(--spacing-h);
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: var(--spacing-3x);

      h4 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        margin-block: var(--spacing-h);
        line-height: var(--line-height-xs);
        line-clamp: 2;
        -webkit-line-clamp: 2;
        text-transform: capitalize;
      }
    }
    p{
      display: flex;
      gap: var(--spacing);
      align-items: center;
      text-transform: capitalize;
    }
  }
}

@media screen and (max-width: 786px) {
  .prop-card {
    .card-details {
      .brief {
        gap: var(--spacing-2x);
      }
    }
  }
}
