.upload-trend {
  max-width: 600px;
  width: 90%;
  margin: var(--spacing-s) auto;
  padding: 20px;
  background-color: var(--background-white);
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-trend h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: var(--border);
  border-radius: var(--border-radius);
}

.form-group textarea {
  resize: vertical;
  min-height: 300px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  border-radius: var(--border-radius-btn);
  cursor: pointer;
  font-size: 16px;
  margin-top: var(--spacing-2x);
}

button:disabled {
  background-color: var(--gray);
  cursor: not-allowed;
}