.listed-properties {
  .property-list {
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
      gap: 2rem;
      margin-top: 2rem;

      @media (max-width: 720px) {
        grid-template-columns: 1fr 1fr;
      }

      li {
        position: relative;
        overflow: hidden;

        img {
          border-radius: var(--border-radius);
          box-shadow: var(--box-shadow);
          aspect-ratio: 1 / 1;
        }
      }
    }
  }
}
