.profile-update {
  .container {
    /* min-height: 100vh; */
    max-width: 900px;
    .fm {
      padding-block: var(--spacing-5x);

      h4 {
        margin-block: var(--spacing-2x);
        text-align: center;
      }

      form {
        margin: 0 auto;
        .input-box {
          position: relative;
          margin-bottom: var(--spacing-2x);

          img {
            width: 100px;
            height: 100px;
            border-radius: 100%;
            object-fit: cover;
            display: block;
            margin: var(--spacing) auto;
          }

          label {
            display: block;
            padding-left: var(--spacing);
            letter-spacing: 1px;
          }

          input,
          select,
          textarea {
            width: 100%;
            border: var(--border);
            border-radius: var(--border-radius);
            padding: var(--spacing);
            font-size: var(--font-size-nm);
            color: var(--font-color-p);

            &:focus {
              border: var(--border-hover);
            }
          }

          textarea {
            resize: none;
          }

          span {
            position: absolute;
            bottom: -30%;
            left: var(--spacing);
            color: #f10909;
          }
        }
        button {
          margin: var(--spacing) auto;
          padding: var(--spacing);
          width: 100%;
          display: block;
          text-align: center;
          /* text-decoration: ; */

          &.disable {
            user-select: none;
          }
        }
      }
      & > span {
        display: block;
        margin-top: var(--spacing-2x);
        padding-inline: var(--spacing);
        text-align: center;
        a {
          color: var(--primary-color);
          text-decoration: underline;
        }
      }
    }
  }
}
