.prop-card {
  border-radius: var(--border-radius);
  overflow: hidden;

  a {
    outline: none;
  }

  .prop-image {
    position: relative;

    .actions {
      position: absolute;
      top: var(--spacing);
      right: var(--spacing);

      display: flex;
      flex-direction: column;
      gap: var(--spacing-h);
      z-index: 2;

      .bookmark-button {
        background-color: transparent;
        svg {
          path {
            fill: var(--white);
          }
        }
        &.saved{
          svg {
          path {
            fill: var(--primary-color);
          }
        }
        }
      }
    }
  }
  .swiper {
    aspect-ratio: 20 / 19;
    border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;
    box-shadow: var(--shadow);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .swiper-pagination-bullet {
      background-color: var(--white);
      opacity: 0.5;
    }
    .swiper-pagination-bullet-active {
      opacity: 1;
    }
  }
  .card-details {
    padding: var(--spacing) 0;
    .type-price {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .price {
        color: var(--font-color-h);
        font-weight: 600;
      }
    }

    h5 {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: var(--line-height-xs);
      line-clamp: 2;
      -webkit-line-clamp: 2;
      text-transform: capitalize;
      margin-block: var(--spacing-h);
    }

    div:last-child {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-transform: capitalize;

      span {
        font-size: var(--font-size-xs);
      }

      .price {
        text-decoration: underline;
        text-transform: lowercase;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .prop-card {
    .card-details {
      .brief {
        gap: var(--spacing-2x);
      }
    }
  }
}
