.welcome-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  overflow: hidden;
  background-color: #fff;
}

.welcome-container img {
  width: 150px;
  height: 150px;
  opacity: 0.7;
  box-shadow: var(--shadow);
}
