.chat-page {
  height: 100vh;
  max-height: 100vh;
}
.chat-page .delete-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}
.chat-page .delete-dialog .dialog-box {
  background-color: var(--light-gray);
  padding: var(--spacing-3x);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2x);
  max-width: 400px;
  width: 100%;
}
.chat-page .delete-dialog .dialog-box p {
  font-size: var(--font-size-sm);
  color: var(--font-color-p);
}
.chat-page .delete-dialog .dialog-box .btn-group {
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-2x);
}
.chat-page .delete-dialog .dialog-box .btn-group button {
  padding: var(--spacing);
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  color: var(--font-color-p);
  cursor: pointer;
}
.chat-page .container {
  max-width: 900px;
}
.chat-page .container .chat-display {
  height: 70vh;
  overflow-y: auto;
  margin-block: var(--spacing-3x);
}
.chat-page .container .chat-display .loading-text {
  text-align: center;
  margin-top: 50px;
}
.chat-page .container .chat-display::-webkit-scrollbar {
  display: none;
}
.chat-page .container .chat-display .message-box {
  padding: var(--spacing-h);
  margin-bottom: var(--spacing-2x);
  border-radius: var(--border-radius);
  border-top-left-radius: 0;
  border: var(--border);
  width: -moz-fit-content;
  width: fit-content;
  max-width: 70%;
}
.chat-page .container .chat-display .message-box .message-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-2x);
  padding: var(--spacing-h) var(--spacing);
  border-radius: var(--border-radius);
  background-color: var(--light-gray);
}
.chat-page .container .chat-display .message-box .message-detail span {
  color: var(--font-color-p);
  font-size: var(--font-size-xs);
}
.chat-page .container .chat-display .message-box .message-content {
  padding-block: var(--spacing);
  color: var(--font-color-p);
  size: var(--font-size-sm);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.chat-page .container .chat-display .message-box.right {
  margin-left: auto;
  color: var(--font-color-light);
  border-radius: var(--border-radius);
  border-top-right-radius: 0;
  border-color: var(--primary-color);
}
.chat-page .container .chat-display .message-box.right .message-detail {
  border-top-right-radius: 0;
}
.chat-page .container .chat-input {
  max-width: 900px;
  position: fixed;
  bottom: var(--spacing);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing);
  background-color: var(--light-gray);
  border-radius: var(--border-radius);
  padding: var(--spacing);
  margin-top: var(--spacing);
}
.chat-page .container .chat-input input {
  flex: 1;
  padding: var(--spacing);
  border: var(--border);
  border-radius: var(--border-radius);
  color: var(--font-light-p);
}
.chat-page .container .chat-input button {
  padding: var(--spacing);
  border: var(--border);
  border-radius: var(--border-radius);
}/*# sourceMappingURL=chat.css.map */