.chat-page {
  .container {
    max-width: 900px;

    .chat-display {
      height: 300px;
      overflow-y: auto;
      margin-bottom: var(--spacing-2x);
      margin-top: var(--spacing-4x);
      padding: var(--spacing);
      background-color: var(--background-color);
      border: var(--border);
      border-color: var(--light-gray);
      border-radius: var(--border-radius);

      .loading-text {
        text-align: center;
        margin-top: 50px;
      }

      &::-webkit-scrollbar {
        display: none;
      }

      .message-box {
        margin-bottom: var(--spacing-2x);
        background-color: var(--light-gray);
        border-radius: var(--border-radius);
        border-top-left-radius: 0;
        width: fit-content;
        max-width: 70%;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: var(--light-gray);
          top: 10px;
          left: -5px;
        }

        &.right {
          margin-left: auto;
          color: var(--font-color-light);
          border-radius: var(--border-radius);
          border-top-right-radius: 0;

          &::after {
            left: auto;
            right: -5px;
          }
        }

        .message-detail {
          display: flex;
          justify-content: space-between;
          color: var(--font-light);
          padding: var(--spacing);
          border-radius: var(--border-radius);
          background-color: var(--gray);

          span {
            font-weight: bold;
            font-size: var(--font-size-sm); // Smaller text for metadata
          }
        }

        .message-content {
          padding: var(--spacing);
          line-height: 1.5;
        }
      }
    }

    .message-input {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: var(--spacing);
      background-color: var(--light-gray);
      border-radius: var(--border-radius);
      padding: var(--spacing);
      margin-top: var(--spacing);

      input {
        flex: 1;
        padding: var(--spacing);
        border: none;
        border-radius: var(--border-radius);
        color: var(--font-light-h);
      }

     
    }
  }
}
