.chat-page {
  height: 100vh;
  max-height: 100vh;

  .delete-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    .dialog-box {
      background-color: var(--light-gray);
      padding: var(--spacing-3x);
      border-radius: var(--border-radius);
      display: flex;
      flex-direction: column;
      gap: var(--spacing-2x);
      max-width: 400px;
      width: 100%;

      p {
        font-size: var(--font-size-sm);
        color: var(--font-color-p);
      }

      .btn-group {
        display: flex;
        justify-content: flex-end;
        gap: var(--spacing-2x);

        button {
          padding: var(--spacing);
          border: none;
          border-radius: var(--border-radius);
          background-color: var(--primary-color);
          color: var(--font-color-p);
          cursor: pointer;
        }
      }
    }
  }

  .container {
    max-width: 900px;

    .chat-display {
      height: 70vh;
      overflow-y: auto;
      margin-block: var(--spacing-3x);

      .loading-text {
        text-align: center;
        margin-top: 50px;
      }

      &::-webkit-scrollbar {
        display: none;
      }

      .message-box {
        padding: var(--spacing-h);
        margin-bottom: var(--spacing-2x);
        border-radius: var(--border-radius);
        border-top-left-radius: 0;
        border: var(--border);
        width: fit-content;
        max-width: 70%;

        .message-detail {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: var(--spacing-2x);
          padding: var(--spacing-h) var(--spacing);
          border-radius: var(--border-radius);
          background-color: var(--light-gray);

          span {
            color: var(--font-color-p);
            font-size: var(--font-size-xs);
          }
        }

        .message-content {
          padding-block: var(--spacing);
          color: var(--font-color-p);
          size: var(--font-size-sm);
          user-select: none;
        }

        &.right {
          margin-left: auto;
          color: var(--font-color-light);
          border-radius: var(--border-radius);
          border-top-right-radius: 0;
          border-color: var(--primary-color);

          .message-detail {
            border-top-right-radius: 0;
          }
        }
      }
    }

    .chat-input {
      max-width: 900px;
      position: fixed;
      bottom: var(--spacing);
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: var(--spacing);
      background-color: var(--light-gray);
      border-radius: var(--border-radius);
      padding: var(--spacing);
      margin-top: var(--spacing);

      input {
        flex: 1;
        padding: var(--spacing);
        border: var(--border);
        border-radius: var(--border-radius);
        color: var(--font-light-p);
      }
      button {
        padding: var(--spacing);
        border: var(--border);
        border-radius: var(--border-radius);
      }
    }
  }
}
