.prop-card {
  border-radius: var(--border-radius);
  border: var(--border);
  overflow: hidden;
  position: relative;
  transition: var(--transition);

  animation: pop 0.3s ease-in forwards;

  @keyframes pop {
    from {
      transform: translateY(10px) scale(0.97);
      opacity: 0;
    }
    to {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
  }

  &:hover {
    box-shadow: var(--shadow);
    transform: scale(1.05) translateY(-5px);
  }

  &:active {
    transform: scale(0.95);
  }

  a {
    outline: none;
  }

  .prop-image {
    position: relative;

    .agent-image {
      position: absolute;
      top: var(--spacing);
      left: var(--spacing);
      z-index: 2;

      img {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        object-fit: cover;
        box-shadow: var(--shadow);
      }
      span {
        display: block;
        text-align: center;
        color: var(--white);
        text-transform: capitalize;
        transform: translateY(-50px);
        opacity: 0;
        transition: var(--transition);
        z-index: -3;
      }

      &:hover {
        span {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
    .actions {
      position: absolute;
      top: var(--spacing);
      right: var(--spacing);

      display: flex;
      flex-direction: column;
      gap: var(--spacing-h);
      z-index: 2;
    }
  }
  .swiper {
    aspect-ratio: 9 / 16;
    overflow: hidden;
    position: relative;
    box-shadow: var(--shadow);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .swiper-button-prev,
    .swiper-button-next {
      color: var(--text-color-h);
      width: 2.8rem;
      height: 2.8rem;

      &::after {
        font-size: var(--font-size-md);
        font-weight: 800;
        width: 2.3rem;
        height: 2.3rem;
        display: grid;
        place-content: center;
        background-color: var(--white);
        border-radius: 100%;
        box-shadow: var(--shadow);
      }
    }
    .swiper-pagination-bullet {
      background-color: var(--white);
      opacity: 0.5;
    }
    .swiper-pagination-bullet-active {
      opacity: 1;
    }
  }
  .card-details {
    padding: var(--spacing);
    position: absolute;
    background: linear-gradient(to top, var(--black), transparent);
    z-index: 5;
    bottom: 0;
    left: 0;
    right: 0;

    .location-price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: var(--spacing);

      .price {
        padding: var(--spacing-b);
        color: var(--text-color-h);
        background-color: var(--white);
        box-shadow: var(--shadow);
        border-radius: var(--border-radius-r);
        font-weight: 600;
      }
    }

    span {
      color: white;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      text-transform: capitalize;
      margin-block: var(--spacing-h);
    }
  }
}
