.properties-details-page .prop-image-details .property-images .container {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  align-items: flex-start;
  gap: var(--spacing);
}
.properties-details-page .prop-image-details .property-images .container .display-image {
  height: 70vh;
  display: flex;
  place-items: center;
  padding-bottom: var(--spacing);
  position: relative;
}
.properties-details-page .prop-image-details .property-images .container .display-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius);
  transition: var(--transition);
}
.properties-details-page .prop-image-details .property-images .container .display-image .video-container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
}
.properties-details-page .prop-image-details .property-images .container .display-image .video-container video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius);
  transition: var(--transition);
}
.properties-details-page .prop-image-details .property-images .container .display-image .video-container .video-controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--transition);
  z-index: 2;
}
.properties-details-page .prop-image-details .property-images .container .display-image .video-container .video-controls:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transform: translate(-50%, -50%) scale(1.1);
}
.properties-details-page .prop-image-details .property-images .container .display-image .video-container .video-controls .play-icon {
  color: white;
  font-size: 20px;
  margin-left: 3px;
}
.properties-details-page .prop-image-details .property-images .container .display-image .image-pagination .left,
.properties-details-page .prop-image-details .property-images .container .display-image .image-pagination .right {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: var(--white);
  transform: translateY(-50%);
  top: 50%;
  display: grid;
  place-items: center;
  color: var(--font-color-h);
  border-radius: 100%;
  cursor: pointer;
  box-shadow: var(--shadow);
  transition: var(--transition);
}
.properties-details-page .prop-image-details .property-images .container .display-image .image-pagination .left:hover,
.properties-details-page .prop-image-details .property-images .container .display-image .image-pagination .right:hover {
  transform: translateY(-50%) scale(1.125);
}
.properties-details-page .prop-image-details .property-images .container .display-image .image-pagination .left {
  left: 30px;
}
.properties-details-page .prop-image-details .property-images .container .display-image .image-pagination .right {
  right: 30px;
}
.properties-details-page .prop-image-details .property-images .container .display-image .image-counter {
  font-size: var(--font-size-sm);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: var(--border-radius);
  text-align: center;
  letter-spacing: 5px;
  padding-inline: var(--spacing);
  box-shadow: var(--shadow);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.properties-details-page .prop-image-details .property-images .container .display-image .features {
  position: absolute;
  top: 32px;
  right: 32px;
  display: flex;
  gap: var(--spacing);
  align-items: center;
  z-index: 2;
}
.properties-details-page .prop-image-details .property-images .container .control-image {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-h);
}
.properties-details-page .prop-image-details .property-images .container .control-image::-webkit-scrollbar {
  display: none;
}
.properties-details-page .prop-image-details .property-images .container .control-image img {
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  border-radius: var(--border-radius);
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  opacity: 0.3;
  transition: var(--transition);
}
.properties-details-page .prop-image-details .property-images .container .control-image img.active {
  opacity: 1;
  box-shadow: var(--shadow);
}
.properties-details-page .prop-image-details .property-images .container .control-image .video-thumbnail {
  position: relative;
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  border-radius: var(--border-radius);
  overflow: hidden;
  cursor: pointer;
  opacity: 0.3;
  transition: var(--transition);
}
.properties-details-page .prop-image-details .property-images .container .control-image .video-thumbnail.active {
  opacity: 1;
  box-shadow: var(--shadow);
}
.properties-details-page .prop-image-details .property-images .container .control-image .video-thumbnail video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.properties-details-page .prop-image-details .property-images .container .control-image .video-thumbnail .video-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.properties-details-page .container {
  width: 75%;
}
.properties-details-page .container > div {
  margin-block: var(--spacing-2x);
}
.properties-details-page .container h5 {
  margin-bottom: var(--spacing);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.properties-details-page .container h5 button {
  text-decoration: underline;
  display: flex;
  gap: var(--spacing-h);
  align-items: center;
  padding: var(--spacing-h);
  border-radius: var(--border-radius);
  background-color: var(--light-gray);
}
.properties-details-page .container .top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--spacing-2x);
  margin-top: var(--spacing);
}
.properties-details-page .container .top .pq .title {
  margin-bottom: var(--spacing);
}
.properties-details-page .container .top .pq .price {
  text-decoration: underline;
  font-style: italic;
  font-size: var(--font-size-sm);
  margin-bottom: var(--spacing);
}
.properties-details-page .container .top .pq .features,
.properties-details-page .container .top .pq .amenities {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-h);
  align-items: center;
  padding-block: var(--spacing);
}
.properties-details-page .container .top .pq .features span,
.properties-details-page .container .top .pq .amenities span {
  padding: var(--spacing-b);
  border-radius: var(--border-radius-r);
  background-color: var(--light-gray);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.properties-details-page .container .top .pq .description {
  margin-block: var(--spacing-2x);
}
.properties-details-page .container .top .about-agent .agent-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-h);
  padding: var(--spacing-2x);
  border-radius: var(--border-radius);
  background-color: var(--light-gray);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: center;
}
.properties-details-page .container .top .about-agent .agent-details img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: var(--shadow);
}
.properties-details-page .container .top .about-agent .agent-details h5 {
  margin: 0;
  font-size: var(--font-size-nm);
}
.properties-details-page .container .top .about-agent .agent-stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing);
  padding-block: var(--spacing);
}
.properties-details-page .container .top .about-agent .agent-stats div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-h);
  padding: var(--spacing);
  border-radius: var(--border-radius);
  background-color: var(--light-gray);
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.properties-details-page .container .top .about-agent .agent-stats div.ratings svg {
  fill: none;
}
.properties-details-page .container .top .about-agent .agent-stats div.ratings svg path {
  fill: var(--font-color-p);
}
.properties-details-page .container .top .about-agent .bio {
  margin-top: var(--spacing);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.properties-details-page .container .agent-reviews .reviews {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: var(--spacing);
  scroll-padding: 0 16px;
  padding-right: var(--spacing-h);
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.properties-details-page .container .agent-reviews .reviews .review-item {
  width: 60%;
  border: var(--border);
  border-radius: var(--border-radius);
  scroll-snap-align: center;
  flex-shrink: 0;
  padding: var(--spacing);
  box-shadow: var(--shadow);
  text-align: center;
}
.properties-details-page .container .agent-reviews .reviews .review-item .bottom {
  display: flex;
  gap: var(--spacing);
  justify-content: center;
  align-items: center;
  margin-top: var(--spacing-2x);
}
.properties-details-page .container .agent-reviews .reviews .review-item .bottom img {
  border-radius: 100%;
  width: 45px;
  height: 45px;
}
.properties-details-page .container .agent-reviews .reviews .review-item .bottom .details span {
  display: block;
}
.properties-details-page .container .agent-listings > div .agentProps {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: left;
  scroll-behavior: smooth;
  gap: var(--spacing);
  padding-bottom: var(--spacing-h);
  /* Hide scrollbar */
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.properties-details-page .container .agent-listings > div .agentProps::-webkit-scrollbar {
  display: none;
}
.properties-details-page .container .agent-listings > div .agentProps .list-prop {
  flex: 0 0 90%;
  max-width: 180px;
  border-radius: var(--border-radius);
  transition: var(--transition);
  cursor: pointer;
}
.properties-details-page .container .agent-listings > div .agentProps .list-prop:hover {
  color: var(--font-color-p);
  transform: scale(0.992);
}
.properties-details-page .container .agent-listings > div .agentProps .list-prop .list-image {
  overflow: hidden;
}
.properties-details-page .container .agent-listings > div .agentProps .list-prop .list-image img {
  border-radius: var(--border-radius);
  width: 100%;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}
.properties-details-page .container .agent-listings > div .agentProps .list-prop .list-details {
  padding-top: var(--spacing-h);
}
.properties-details-page .container .agent-listings > div .agentProps .list-prop .list-details h6 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.properties-details-page .container .agent-listings > div .agentProps .list-prop .list-details p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: var(--font-size-xs);
}
@media (min-width: 768px) {
  .properties-details-page .container .agent-listings > div .agentProps .list-prop {
    flex: 0 0 48%; /* Medium screens */
  }
}
@media (min-width: 1024px) {
  .properties-details-page .container .agent-listings > div .agentProps .list-prop {
    flex: 0 0 30%; /* Desktop screens */
    max-width: 350px;
  }
  .properties-details-page .container .agent-listings > div .agentProps .list-prop .list-image img {
    height: 170px;
  }
}
.properties-details-page .container .contact {
  margin-block: var(--spacing-4x);
  background-color: var(--light-gray);
  padding: var(--spacing-2x);
  border-radius: var(--border-radius);
}
.properties-details-page .container .contact span {
  line-height: 1.2;
}

.prop-cta {
  margin-block: var(--spacing-2x);
}
.prop-cta .container {
  width: 75%;
  display: flex;
  gap: var(--spacing);
}
.prop-cta .container .btn {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .properties-details-page .container {
    width: 95%;
  }
  .properties-details-page .container > div {
    margin-block: var(--spacing-4x);
  }
  .properties-details-page .container .top {
    margin-top: var(--spacing-2x);
    grid-template-columns: 1fr;
    gap: 0;
  }
  .properties-details-page .container .top .about-agent {
    margin-block: var(--spacing-2x);
  }
  .properties-details-page .container .top .about-agent h5 {
    margin-block: var(--spacing);
  }
  .properties-details-page .container .agent-reviews .reviews .review-item {
    width: 90%;
  }
  .properties-details-page .container .contact {
    padding: var(--spacing);
  }
  .properties-details-page .prop-image-details .property-images .container {
    grid-template-columns: 1fr;
  }
  .properties-details-page .prop-image-details .property-images .container > div {
    margin: 0;
  }
  .properties-details-page .prop-image-details .property-images .container .display-image {
    height: 65vh;
  }
  .properties-details-page .prop-image-details .property-images .container .display-image .image-pagination .left,
  .properties-details-page .prop-image-details .property-images .container .display-image .image-pagination .right {
    width: 38px;
    height: 38px;
  }
  .properties-details-page .prop-image-details .property-images .container .display-image .image-pagination .left {
    left: 20px;
  }
  .properties-details-page .prop-image-details .property-images .container .display-image .image-pagination .right {
    right: 20px;
  }
  .properties-details-page .prop-image-details .property-images .container .display-image .image-counter {
    bottom: 10px;
  }
  .properties-details-page .prop-image-details .property-images .container .display-image .features {
    top: 20px;
    right: 20px;
  }
  .properties-details-page .prop-image-details .property-images .container .control-image {
    overflow-x: scroll;
    flex-wrap: nowrap;
  }
  .properties-details-page .prop-image-details .property-images .container .control-image img {
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    margin-right: 0;
  }
  .properties-details-page .prop-image-details .property-images .container .control-image .video-thumbnail {
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    margin-right: 0;
  }
  .prop-cta {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    padding-block: var(--spacing);
    box-shadow: var(--shadow);
    z-index: 9999;
    margin: 0;
  }
  .prop-cta .container {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing);
  }
}
@media screen and (max-width: 480px) {
  .properties-details-page .prop-image-details .property-images .container .display-image {
    height: 60vh;
  }
  .properties-details-page .prop-image-details .property-images .container .control-image img {
    width: 55px;
    height: 55px;
    min-width: 55px;
    min-height: 55px;
  }
  .properties-details-page .prop-image-details .property-images .container .control-image .video-thumbnail {
    width: 55px;
    height: 55px;
    min-width: 55px;
    min-height: 55px;
  }
}/*# sourceMappingURL=property.css.map */