.chat-page {
  position: relative;
  max-width: 900px;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing);
  padding-bottom: 0;

  & > .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--spacing);
    padding: var(--spacing);
    margin-top: var(--spacing-3x);
    height: 100%;

    a {
      text-decoration: underline;
    }
  }

  .chat-display {
    height: auto;
    overflow-y: auto;
    padding-block: var(--spacing);

    .loading-text {
      text-align: center;
      margin-top: 50px;
    }

    &::-webkit-scrollbar {
      visibility: hidden;
    }
    &:hover {
      &::-webkit-scrollbar {
        visibility: visible;
      }
      &::-webkit-scrollbar-thumb {
        height: 100px;
      }
    }

    .message-box {
      padding: var(--spacing-h);
      margin-bottom: var(--spacing-h);
      border-radius: var(--border-radius);
      border-top-left-radius: 0;
      width: fit-content;
      color: var(--font-color-p);
      background-color: var(--light-gray);
      max-width: 70%;

      .message-detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--spacing-2x);
        padding: var(--spacing-h) var(--spacing);

        span {
          color: var(--font-color-p);
        }
      }

      .message-content {
        color: var(--font-color-p);
        user-select: none;
      }

      &.right {
        margin-left: auto;
        color: var(--font-white);
        border-radius: var(--border-radius);
        border-top-right-radius: 0;
        background-color: var(--background-dark);

        .message-detail {
          span {
            color: var(--font-white);
          }
        }
        .message-content {
          span {
            color: var(--font-white);
          }
        }
      }
    }
  }

  .chat-input {
    width: 100%;
    margin: 0 auto;
    padding-block: var(--spacing);
    background-color: var(--light-gray);

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // border: var(--border);
      // border-radius: var(--border-radius);

      input {
        flex: 1;
        border: none;
        border-radius: 0;
        color: var(--font-light-p);
      }
      button {
        padding: var(--spacing);
        border: none;
      }
    }
  }
}
