.property-upload-guide {
  padding-block: var(--spacing-5x);
  .container {
    max-width: 1024px;
    section {
      padding-block: var(--spacing-2x);

      ol {
        margin-top: var(--spacing);
        li{
          margin-bottom: var(--spacing-h);
        }
      }
    }

    div {
      p {
        a {
          text-decoration: underline;
        }
      }

      &.upload-btn {
        margin-top: var(--spacing-2x);
      }
    }
  }
}
