.banner {
  margin: var(--spacing) 0;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .banner {
    overflow: visible;
    margin: var(--spacing-5x) 0 var(--spacing);
  }
}
.banner .container {
  border-radius: var(--border-radius);
  background: var(--primary-color);
  color: var(--white);
  padding: var(--spacing-2x);
}
.banner .container span {
  margin-bottom: var(--spacing);
  color: var(--light-gray);
}
.banner .container h2 {
  color: var(--white);
}
.banner .container h2 {
  position: relative;
  text-transform: capitalize;
}
.banner .container h2 svg {
  position: absolute;
  top: 0;
}
.banner .dot1,
.banner .dot2 {
  width: auto;
  height: 251.8px;
  position: absolute;
  bottom: 0;
}
.banner .dot1 {
  right: 0;
}
.banner .dot2 {
  right: calc(10% + 357px);
}
.banner .building {
  width: 387px;
  height: 253px;
  position: absolute;
  bottom: 0;
  right: 10%;
}
@media screen and (max-width: 768px) {
  .banner .building {
    display: none;
  }
}

.user-search {
  padding-block: var(--spacing);
}
.user-search .container {
  max-width: 750px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 8fr 1.3fr;
  background-color: var(--background-white);
  border: var(--border);
  border-radius: var(--border-radius-r);
  overflow: hidden;
}
.user-search .container input {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  padding: var(--spacing);
  border: none;
}
.user-search .container .search-icon {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  display: grid;
  place-content: center;
  cursor: pointer;
  background-color: var(--light-gray);
}
.user-search .container .search-icon svg {
  width: 25px;
  height: 25px;
}
.user-search .container .search-icon svg path {
  fill: var(--font-color-p);
}

.filter {
  background: var(--background-white);
  border-radius: var(--border-radius);
  padding-block: var(--spacing);
  position: sticky;
  top: 68px;
  z-index: 999;
}
.filter .container {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: var(--spacing);
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.filter .container::-webkit-scrollbar {
  display: none;
}
.filter .container span {
  padding: var(--spacing-b);
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  text-transform: capitalize;
  background: var(--light-gray);
  white-space: nowrap;
  cursor: pointer;
  transition: var(--transition);
}
.filter .container span:hover, .filter .container span.active {
  border: var(--border-hover);
  color: var(--font-color-h);
}

.property-listings {
  margin: var(--spacing) 0 var(--spacing-3x);
}
.property-listings .properties {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(1.5 * var(--spacing));
}
.property-listings .properties span,
.property-listings .properties svg path {
  color: var(--font-color-p);
}

@media screen and (max-width: 1400px) {
  .property-listings .properties {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .banner .container {
    padding: var(--spacing) var(--spacing-2x);
  }
  .user-search .container {
    grid-template-columns: 9fr 1.5fr;
  }
  .user-search .container .search-icon svg {
    width: 20px;
    height: 20px;
  }
  .filter .container {
    justify-content: left;
  }
  .property-listings .properties {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 580px) {
  .property-listings .properties {
    grid-template-columns: 1fr;
    gap: var(--spacing-2x);
  }
}/*# sourceMappingURL=properties.css.map */