.banner {
  margin: var(--spacing) 0;
  position: relative;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    overflow: visible;
    margin: var(--spacing-5x) 0 var(--spacing);
  }

  .container {
    border-radius: var(--border-radius);
    background: var(--primary-color);
    color: var(--white);
    padding: var(--spacing-2x);

    span {
      margin-bottom: var(--spacing);
      color: var(--light-gray);
    }
    h2 {
      color: var(--white);
    }

    h2 {
      position: relative;
      text-transform: capitalize;

      svg {
        position: absolute;
        top: 0;
      }
    }
  }

  .dot1,
  .dot2 {
    width: 109px;
    height: 251.8px;
    position: absolute;
    bottom: 0;
  }

  .dot1 {
    right: 0;
  }
  .dot2 {
    right: calc(10% + 357px);
  }

  .building {
    width: 387px;
    height: 253px;
    position: absolute;
    bottom: 0;
    right: 10%;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.user-search {
  padding-block: var(--spacing-2x);
  .container {
    border-radius: var(--border-radius-r);
    max-width: 750px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 8fr 0.8fr;
    overflow: hidden;
    box-shadow: var(--shadow-below);
    input {
      border: var(--border);
      border-radius: var(--border-radius-r);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding: var(--spacing);

      &:focus {
        border: var(--border-hover);
      }
    }
    .search-icon {
      border-top-right-radius: var(--border-radius-r);
      border-bottom-right-radius: var(--border-radius-r);
      display: grid;
      place-content: center;
      cursor: pointer;
      background-color: var(--light-gray);
      svg {
        width: 25px;
        height: 25px;
        path {
          fill: var(--font-color-h);
        }
      }
    }
  }
}

.filter {
  margin-bottom: var(--spacing);
  border-radius: var(--border-radius);
  padding-block: var(--spacing-h);
  position: sticky;
  top: 0px;
  z-index: 999;

  .container {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: var(--spacing);
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    span {
      padding: var(--spacing);
      border-radius: var(--border-radius);
      border: var(--border);
      border-color: transparent;
      text-transform: capitalize;
      background: var(--light-gray);
      white-space: nowrap;
      font-size: var(--font-size-sm);
      cursor: pointer;
      transition: var(--transition);

      &:hover,
      &.active {
        border: var(--border-hover);
        color: var(--font-color-h);
      }
    }
  }
}
.property-listings {
  margin: var(--spacing-2x) 0 var(--spacing-4x);
  .properties {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing);

    span,
    svg path {
      color: var(--font-color-p);
    }
  }
}
@media screen and (max-width: 1400px) {
  .property-listings {
    .properties {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media screen and (max-width: 768px) {
  .banner {
    .container {
      padding: var(--spacing) var(--spacing-2x);
    }
  }
  .user-search {
    .container {
      grid-template-columns: 8fr 1.5fr;

      .search-icon {
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .filter {
    .container {
      justify-content: left;
    }
  }
  .property-listings {
    .properties {
      grid-template-columns: 1fr 1fr;
    }
  }
}
@media screen and (max-width: 580px) {
  .property-listings {
    .properties {
      grid-template-columns: 1fr;
      gap: var(--spacing-2x);
    }
  }
}
