.banner {
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 786px) {
  .banner {
    overflow: visible;
  }
}
.banner .container {
  border-radius: var(--border-radius);
  background: var(--primary-color);
  color: var(--white);
  padding: var(--spacing-2x);
}
.banner .container span {
  margin-bottom: var(--spacing);
  color: var(--light-gray);
}
.banner .container h2 {
  color: var(--white);
}
.banner .container h2 {
  position: relative;
  text-transform: capitalize;
}
.banner .container h2 svg {
  position: absolute;
  top: 0;
}
.banner .dots {
  width: 109px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.banner .building {
  width: 38px;
  height: 253px;
  position: absolute;
  bottom: 0;
  right: 20%;
}
@media screen and (max-width: 786px) {
  .banner .building {
    display: none;
  }
}

.user-search {
  padding-top: var(--spacing-3x);
  padding-bottom: 0;
}
.user-search .container {
  border-radius: var(--border-radius-r);
  max-width: 750px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 8fr 0.8fr;
  overflow: hidden;
  box-shadow: var(--shadow);
}
.user-search .container input {
  border: none;
  padding: var(--spacing);
}
.user-search .container .search-icon {
  color: var(--font-color-p);
  border-top-right-radius: var(--border-radius-r);
  border-bottom-right-radius: var(--border-radius-r);
  display: grid;
  place-content: center;
  cursor: pointer;
  background-color: var(--light-gray);
}
.user-search .container .search-icon svg {
  width: 25px;
  height: 25px;
}
@media screen and (max-width: 786px) {
  .user-search {
    padding-top: var(--spacing);
  }
}

.filter {
  background: var(--background-white);
  border-radius: var(--border-radius);
  width: -moz-fit-content;
  width: fit-content;
  max-width: 90%;
  margin: var(--spacing) auto;
  padding-block: var(--spacing-3x);
  position: sticky;
  top: 10;
}
.filter .container {
  display: flex;
  align-items: center;
  justify-content: left;
  width: auto;
  gap: var(--spacing);
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.filter .container::-webkit-scrollbar {
  display: none;
}
.filter .container span {
  padding: var(--spacing);
  border-radius: var(--border-radius);
  border: var(--border);
  border-color: transparent;
  text-transform: capitalize;
  background: var(--light-gray);
  white-space: nowrap;
  font-size: var(--font-size-sm);
  cursor: pointer;
  transition: var(--transition);
}
.filter .container span:hover, .filter .container span.active {
  border: var(--border-hover);
}

.property-listings {
  margin-bottom: var(--spacing-5x);
}
.property-listings .properties {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing);
}
.property-listings .properties span,
.property-listings .properties svg path {
  color: var(--font-color-p);
}

@media screen and (max-width: 1400px) {
  .property-listings .properties {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .user-search {
    padding-top: var(--spacing);
  }
  .user-search .container {
    grid-template-columns: 8fr 1.5fr;
  }
  .user-search .container .search-icon svg {
    width: 20px;
    height: 20px;
  }
  .filter .container {
    justify-content: left;
  }
  .property-listings .properties {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 560px) {
  .property-listings .properties {
    grid-template-columns: 1fr;
    gap: var(--spacing-2x);
  }
}/*# sourceMappingURL=properties.css.map */